@using myapp.Models;
@model myapp.Models.Employee;
@{
    ViewData["Title"] = "Employee Page";
    Employee item = ViewData["empedit"] as Employee;
}

<div>
    <div className="container">
        <h1>Employees</h1>
        <div className="row">
            <div className="col-sm-12">
                <table className="table">
                    <tbody>
                        
                           <form method="post" action="Edit">
                            <tr>
                             <td>Name</td> <td><input type="hidden" asp-for="Id"> </td>
                           </tr>
                           <tr>
                             <td>Name</td> <td><input type="text"  asp-for="Name"> </td>
                           </tr>
                           <tr>
                            <td>Email</td>  <td><input type="text"  asp-for="Email"> </td>
                           </tr>
                           <tr>
                            <td>Address</td>  <td><input type="text"  asp-for="Address"> </td>
                           </tr>
                           <tr>
                             <td>Phone</td>  <td><input type="text"  asp-for="Phone"> </td>
                           </tr>
                           <button class="btn btn-primary" type="submit">Submit</button>
                           </form>
                    </tbody>
                </table>
            </div>