@model myapp.Models.Employee;
@{
    ViewData["Title"] = "Login Page";
}

<form method="post" action="Login">
    <label>Email:</label>
    <input type="text" asp-for="Email" placeholder="Enter your email">
    <label>Password:</label>
    <input type="text" asp-for="Id" placeholder="id is password">
    <button class="btn btn-primary" type="submit">Login</button>
</form>