@model myapp.Models.Employee;
@{
    ViewData["Title"] = "Login Page";
}

<form method="post" action="Login">
    Email: <input type="text" asp-for="Email">
    Password:<input type="text" asp-for="Id">
    <button type="submit">ADD</button>
</form>